*{
  font-family: 'Exo 2', sans-serif;
  zoom: 100%;
}
body{
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-1.75 0.4) rotate(0.25 1409 581) scale(1.001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-1 1) rotate(0.3 800 450) scale(1.001)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0.9 -3) rotate(3 401 736) scale(1.001)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(6 -0.4) rotate(0.1 150 345) scale(0.999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-4 -2.5) rotate(3.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-6 2) rotate(0.6 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
  
}

#loader_page{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center; 
  text-align: center;
  background-color: #ecf0f1;
  background-size: cover;
}
.main_content{
  opacity: 0;
}
img{
  border-radius: 5px;
}
.nav-item{
  padding-right: 10px;
}
  .nav-link{
      font-weight: normal;
      font-size: 1.6vw;

  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  .cta{
      color: white;
  }
.logo2{
  cursor: pointer;
}
.logo1{
  display: none;
}
.card1:hover{
  transform: scale(0.9, 0.9);
  transition: all .3s linear ;
  cursor: pointer;
}
#links{
  padding: 10px;
}
#links:hover{
  color: black;
  transition: all .6s linear;

}
.boxS{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
  padding: 10px 30px;
  height: 80px;
}


  /* Mobile menu */


  /* Mobile Nav */
  


  #menu {
    display: none;
    cursor: pointer;
    opacity: 1;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
  }
  #menu:hover{
     opacity: .8;
     transition: all 0.5s ease;
     border-color: #17a2b8;
      }
  
  .overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #24252a;
    opacity: 1;
    overflow-x: hidden;
    z-index: 9999;
    transition: all 0.4s ease 0s;
  }
  .overlay_clicked{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #24252a;
    opacity: 1;
    overflow-x: hidden;
    transition: all 0.4s ease-out 0s;

  }

  
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .overlay a {
    padding: 15px;
    font-size: 8vw;
    display: block;
    color: #edf0f1;
    
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover {
    text-decoration: none;
    color: #0088a9;
  }
  .contactUs{
   text-align: center;
  }
 .socialBtn{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
 }
  .socialBtn li{
    margin-right: 30px;
    border: 2px solid #007bff;
    display:flex ;
   align-items: center;
   margin-top: 30px;
    justify-content: center;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    
  }

  .socialBtn li:before{
    content:'';
    width:inherit;
    height: inherit;
    position: absolute;
    background-color: #007bff;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease;
    
  }
  .socialBtn li:hover:before{
    transform: scale(0.8);
     opacity: 1;
    
  }
  .socialBtn li:hover i{
    color: white;
  }
  .socialBtn a{
    text-decoration: none;
  }
  .fa-phone{
    color: #5b39c6;
  }
  .fa-facebook{
    color: #3b5998;
  }
  .newI,.newG{
    color: black;
  }
  .fa-envelope{
    color:rosybrown;
  }
 

  @media (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  

  @media(max-width:665px){
    .socialBtn{
      flex-direction: column;
    }
    .socialBtn li{
      margin-bottom: 10px;
    }
  }
  @media  (max-width: 990px) {
    .nav__links,
    .contact {
      display: none;
    }
    #menu {
      display: block;
    }
    .eventsD{
      flex-direction: column;
      margin-left: 30%;
      margin-right: 30%;
    }
  }
  @media (max-width:480px){
      .logo2{
        display: none;
      }
      .logo1{
       display: block;
      }
      
  }
  @media(max-width:576px){
    #google{
      display: none;
    }
    .card1{
      margin-top: 50px;
    }
    .card2{
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;    }
   
    .foot:nth-child(2){
      margin-top: 50px;
    }
    .foot:nth-child(3){
      margin-top: 30px;
    }
  }
  @media(max-width:767px){
    .card1{
      margin-top: 50px;
    }
    .card2{
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
    }
    #lottie{
      display: none;
    }
    body{
      background-image: none;
    }
    .meet_team{
      text-align: center;
      margin-top: 20px;
    }
  }
  @media(min-width:565px){
    .overlay a{
      font-size: 4.62vw;
    }
  }

  